# =================================
# 1. 编译产物 (最重要)
# =================================
# 忽略所有层级目录下的 build 文件夹
build/
# 忽略编译生成的二进制文件 (以防万一没在 build 文件夹里的)
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.obj
*.a

# =================================
# 2. CMake 缓存
# =================================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# =================================
# 3. 编辑器配置 (可选)
# =================================
.vscode/

!.vscode/launch.json

.idea/
*.swp

# =================================
# 4. macOS 系统垃圾 (如果你或协作者用 Mac)
# =================================
.DS_Store